<style>

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;

  background: url('../static/crear.png') no-repeat #46B6AC;
}

</style>

{% extends 'base_layout.html' %}

{% block titulo %}Musichub - Home{% endblock %}

{% block menu%}
<!-- Right aligned menu on top of button  -->
<a class="mdl-navigation__link" href="/home">Inicio</a>
<a class="mdl-navigation__link" href="">Mi Perfil</a>
<a class="mdl-navigation__link" href="">Mis Bandas</a>
<a class="mdl-navigation__link" href="">Mis Postulaciones</a>
<a class="mdl-navigation__link" href="/logout">LogOut</a>

{% endblock%}

{% block contenido %}
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Hola {{usuario}}</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
    </div>
  </header>
  <main class="mdl-layout__content">
     <div class="mdl-grid demo-content">
       <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
 contenido
       </div>
       <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
         <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
           <div class="mdl-card__title mdl-card--expand">
             <h2 class="mdl-card__title-text">Crear</h2>
           </div>
           <div class="mdl-card__supporting-text">
             Si tenes una banda o sos solicta, <br>
             crea aqui el perfil.
           </div>
           <div class="mdl-card__actions mdl-card--border">
             <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
               Crear
             </a>
           </div>
         </div>
         <div class="demo-separator mdl-cell--1-col"> <br></div>
         <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
           <div class="mdl-card__title mdl-card--expand">
             <h2 class="mdl-card__title-text">Ver Fechas</h2>
           </div>
           <div class="mdl-card__supporting-text">
             Aqui podras ver la lista de fechas que tenes creadas. <br>
             10/07/2016 - Intoxicados - Ituzaingo<br>
             12/07/2016 - Intoxicados - Ituzaingo<br>
             13/07/2016 - Intoxicados - Ituzaingo<br>

           </div>
         </div>
       </div>
     </div>
   </main>

{%endblock%}
